<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'event_registration/profile.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="background"></div>
    <div class="content">
        <div class="registration-list">
            {% for registration in registrations%}
            <div class="registration">
                <div>
                    {{registration.event.name}}
                </div>
                <div>
                    {{registration.event.start_time}}
                </div>
                <div>
                    <p><img src="{{ MEDIA_URL }}code/{{registration.event.name}}-{{request.user.username}}qr.png"/></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="navbar">
        <a href="{{ request.META.HTTP_REFERER }}">Go Back</a>
    </div>
</body>
</html>