<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'event_creation/event_delete.css' %}">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        {% csrf_token %}
        <p>Are you sure that you want to delete {{ obj }}</p>
        <a href="{{ request.META.HTTP_REFERER }}">Go Back</a>
        <input type="submit" value="Confirm">
    </form>
</body>
</html>